rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function prefix() {
      return /databases/$(database)/documents;
    }

    match /users/{userId} {
      allow create: if isSignedIn();
      allow update, delete: if isOwnerOf(userId);
      allow read: if isOwnerOf(userId);
    }

    match /ids/{userId} {
      allow create: if isSignedIn();
      allow update, delete: if isOwnerOf(userId);
      allow read: if isOwnerOf(userId);
    }

    match /skills/{userId} {
      allow create: if isSignedIn();
      allow update, delete: if isOwnerOf(userId);
      allow read: if isOwnerOf(userId);
    }

    match /interests/{userId} {
      allow create: if isSignedIn();
      allow update, delete: if isOwnerOf(userId);
      allow read: if isOwnerOf(userId);
    }

    match /projects/{projectCode} {
      allow create: if isSignedIn() && notExisting(projectCode) && isValidProject();
      allow update, delete: if currentUser().token.email == existingData().owner;
      allow read: if (existing(projectCode) && isValidUser()) || (notExisting(projectCode) && isSignedIn());

      function existing(code) {
        return exists(/$(prefix())/projects/$(code))
      }
      function notExisting(code) {
        return !existing(code)
      }

      function isValidProject() {
        return
          incomingData().code != null &&
          incomingData().owner != null;
      }

      function isValidUser() {
        return
          currentUser().token.email == existingData().owner ||
          currentUser().token.email in existingData().members;
      }
    }

    function currentUser() {
      return request.auth;
    }
    function isSignedIn() {
      return currentUser() != null;
    }
    function isOwnerOf(userId) {
      return currentUser().uid == userId;
    }

    function existingData() {
      return resource.data;
    }
    function incomingData() {
      return request.resource.data;
    }
  }
}